* {
  --docsearch-muted-color: #7a7a7a;
  --docsearch-modal-background: #eeeeee;
  scrollbar-color: var(--docsearch-muted-color) var(--docsearch-modal-background);
  scrollbar-width: thin;
}

.dark * {
  --docsearch-muted-color: #7a7a7a;
  --docsearch-modal-background: #37393b;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--docsearch-muted-color);
  border: 3px solid var(--docsearch-modal-background);
  border-radius: 20px;
}
